<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="../../assets/images/matisseLogo.png" alt="Italian Trulli">
    <div class="collapse navbar-collapse" id="navbarColor01">
    <!-- la liste de gauche pour les utilisateurs non authentifiés -->
    <ul class="navbar-nav mr-auto" *ngIf="!isAuth">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="accueil">Accueil</a>
        </li>
    </ul>
    <!-- liste de gauche pour les utilisateurs authentifiés -->
    <ul class="navbar-nav mr-auto" *ngIf="isAuth">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="prono/listeProno">Pronostiques</a>
        </li>
        <li routerLinkActive="active">
            <a class="nav-link" routerLink="prono/listePronoDone">Pronostiques réalisés</a>
          </li>
      </ul>
      <!-- liste de droite pour les utilisateurs non authentifiés -->
      <ul class="navbar-nav mr-auto navbar-right" *ngIf="!isAuth">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="auth/signin">Connexion</a>
        </li>
      </ul>
      <!-- liste de droite pour les utilisateurs connectés-->
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuth">
        <li>
            <a (click)="onSignOut()"
                style="cursor:pointer"
                *ngIf="isAuth">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
