<div>
  <H3>{{ prono.intitule}} </H3>
  <div>
    <ul class="list-group">
      <li *ngFor="let elem of prono.propositions; let i = index" class="list-group-item">
        <!-- Il faut specifier le name afin que l'on puisse dire que les radio appartiennent au meme groupe et n'autorise
        qu'une seule selection -->
        <div>
          <input type="radio" name="choix" (click)="onSelectRadio(i)">
          <app-proposition [proposition]="elem"></app-proposition>
        </div>
      </li>
    </ul>
    <input class="btn btn-primary" type="button" (click)="submitProno()" value="Valider" >
  </div>
</div>
