<div class="page-header">
    <h1 class="h1" id="navbars">Bienvenue sur mon petit Matisse</h1>
</div>
<div>
  <p>
    MonPetitMatisse vous permet de pronostiquer sur les différentes péripéties de matisse lors de son séjour
    en Nouvelle-Zélande. En effet celui ci prétend qu'il possède une âme d'aventurier mais seul le temps nous le dira.
  </p>
  <p>
    Le site est actuellement en cours de construction, vous pouvez d'ores et déjà vous inscrire cependant les paris ne
    seront mis en ligne que le mardi 25 septembre.
  </p>
  <img src="../../assets/images/NZ.jpg" alt="matisseEnNz">
</div>
<div>

</div>
